@media print {
/*
#table_holder {display:none;}
#content_area_wrapper {display:none;}
#box_checkbox_notify {display:none;}
#box_checkbox_notify_facturar {display:none;}
#search_customer {display:none;}
#search_suppliers {display:none;}
#search_item {display:none;}
#options{display:none;}
#li_select_gastos_interaction_bar{display:none;}
#item_stock_span{display:none;}
/*#name_cajero{display:none;}
.mfp-close{display:none;}
.title_forms_popup,.title_forms_register_popup{display:none;}
.label_field_sale{display:none;}
.filas_items_reg input, .filas_items_reg_rec input
{border:none;}
#Quitar{display:none;}
#Quit{display:none;}
.quit{display:none;}
.titles_items_reg, .filas_items_reg {width:20%;}
.titles_items_reg_rec, .filas_items_reg_rec {width:24%;}
#cover_full_complete_register{width: 110%;margin-top: 0px;left: -2%;}
#cover_complete_pay {width: 100%;border:none;}
.cover_btn_register{display:none;}
#btn_cancel_register {display:none;}*
#customer_print {display:block;}
#supplier_print {display:block;}
#title_print {display:block;}
#address_print {display:block;}
#tel_print {display:block;}
#policy_print {display:block;}
*/
body .mfp-container {
    width: 100%;
    margin-left: 0%;
	margin-top: 0%;
}
 body {
      -webkit-print-color-adjust: exact;
   }
#title_module_report hr
{
	width:60%;
}
.file_det_rep{
background-color:rgb(192, 252, 240) !important;
}
.file_det_rep_items{
	border-bottom: 2px solid #706fa5 !important;
    background-color: #ededf9 !important;
}
.detail_two_fields{
font-style: italic !important;
font-size: .9em !important;
    color: #4a4b4c !important;
	    font-weight: 500 !important;
}
#title_detail_header {
    font-size: .9em !important;
    color: #4a4b4c !important;
}
#table_detail_report {
 
width: 95%;
}
.mfp-close-btn-in .mfp-close{display:none;}
#footer{display:none;}
#print_btn{display:none;}
.pdf_pedido{display:none;}
#content_area{display:none;}
#content_area_wrapper{display:none;}
#cover_interaction_bar{display:none;}
#summary_sales_aside{display:none;}
#header_menu {display:none;}
#cover_btn_print{display:none;}
#cover_report_section_tables {width:100%;}
.cover_title_report {left:-3%;margin-top: -5%;}
.detail_rep{width: 20%;}
#table_detail_report span{font-size: .7em;width: 90%;margin-left: 2%;}
#report_summary_bottom{left: -2%;}
#cover_report_section_tables{margin-top: 0px;}
.cover_title_detail_reportes{padding-left: 0%;}
#subtitle_module_report{width:100%;margin-left:0;}
}