/*********************************************
Hoja de estilo principal de Cash and Control 
Para Dispositivos
*********************************************/
@media only screen  and (max-width :1920px){
/*TABLES*/		
body .mfp-container{
width:30%;}		
	
}
@media only screen  and (max-width :1680px){
	
/*TABLES*/	
.box_result_table, .box_result_table_b,
.box_result_table_c,
.box_result_table_d,
.box_result_table_e,.box_result_table_f, .box_result_table_g{font-size:.9em;}

}
@media only screen  and (max-width :1600px){}

@media only screen  and (max-width :1440px){
}

@media only screen  and (max-width : 1366px) {
.remaining_up {
 
    padding-left: 8%;
   
}
	/*TABLES*/		
body .mfp-container{
width:40%;}	
/*MODLES INTERACTION BAR*/
.li_look_interaction_bar input{font-size:1.0em;}
	
}
@media only screen  and (max-width : 1280px) {
.li_look_interaction_bar input{font-size:.8em;}}

@media only screen  and (max-width :1024px){
/*LOGIN*/

#cover_login{
width:50%;
}

#welcome_login{font-size:2.0em;}
/*HEADER*/
.box_modules_header{width:10%;}
/*MODLES INTERACTION BAR*/
.li_look_interaction_bar,  #li_look_ib_two{width:40%; margin-left:2%;
margin-right:2%;}
/*----------HOME---------*/
#cover_title_module{margin-top:20px;}
#title_module{font-size:2.6em;}
#subtitle_module{font-size:1.4em;margin-bottom:20px;}
#logo-home {
width: 18%;}
.box_modules_home
{
height:217px;
border:4px solid rgba(254, 254, 254, .8);
margin-top:20px;}
#img-module-home img{
width:45%;
margin:7px 0px 7px 24%;
height:auto;
}
#modules_name {font-size:1.1em;}
#descrip_module_home{font-size:.8em;}
/*MODLES ID*/
#cover_li_cobros, #cover_li_gastos{
width:48%;
}
.title_cobros_opt, .title_gastos_opt{width:100%;}
.total_undone_coin, .total_done_coin{
margin:3px 0px 3px 0px;float:left;
}

/*TABLES*/
.titles_table, .titles_table_b, .titles_table_c, .titles_table_d,.titles_table_e,.titles_table_f, .titles_table_g{
font-size:.75em;	
}
.box_result_table, .box_result_table_b,
.box_result_table_c,
.box_result_table_d,
.box_result_table_e,.box_result_table_f, .box_result_table_g{font-size:.7em;}
.warning_message, #msj_manages span{font-size:.9em;}
/*REPORTES*/
.box_li_report span{font-size:1.4em;}
.box_li_report li a{
width:70%;
padding:10px 10% 10px 20%;}
#cover_reports_selected, #cover_reports_selected_tables{width:96%;
padding-left:2%;
padding-right:2%;}
#cover_ss_aside_date, #cover_ss_aside_tables{width:23%;
padding-left:1%;
padding-right:1%;
padding-top:13px;
padding-bottom:13px;}
#summary_sales_aside li{
background-position: left 15px top 13px;}
#cover_report_section_date, #cover_report_section_tables{width:63%;
margin-left:2%;
padding:20px 5% 50px 5%;}
#Print_btn_report{display:none;}
#Print_br_Responsivo{display:block;
width:25px;
height:23px;
background-image:url("../../images/cc_images/icon_cct/print_small.png");
background-repeat: no-repeat;
background-position: left 0px top 0px;
border:0px;}
#subtitle_module_report{width:40%;
margin-left:30%;}
/*CONFIG*/
#title_module
{ 
text-align:center;
width:100%;
margin:20px 0px 0px 0px;
}
/*	DETALLES POP UP*/
#box_info_title label{
font-size:1.3em;
}
#box_info_title_middle  label{font-size:.9em;}
.box_field_row_info label, .box_field_row_info_small label{font-size:.8em;}
#box_inv_quantity label{margin-bottom:10px;}
#look_input_pop input, #search_customer,
/*Look de entradas*/
#sale_basic_register #search_suppliers{padding-left:12%;
width:88%;
background-size:17px 17px;
background-position: left 10px top 13px;} 


/*tables REGISTER PEDIDOS, VENTAS, ENTRADAS*/
#name_cajero{font-size:.9em;}

.cover_titles_register_psr .titles_items_reg, 
.cover_titles_register_psr  .titles_items_reg_rec{font-size:.75em;}
.filas_items_reg, .filas_items_reg_rec{font-size:.8em;}
.filas_items_reg input, .filas_items_reg_rec input{font-size:.9em;}
#amount_change, #by_payment, #by_pay_total, .by_pay_total{font-size:1.4em;}
.label_field_sale, .box_final_procces_pay div{font-size:.9em;}
#cover_register_middle input{background-size: 17px 17px;}
#total, #change, #restante{height:auto;}
#cover_register_opt_pedido{margin-top:15px;}
}
@media only screen  and (max-width :800px){
/*login*/	
#container_login{
margin-bottom:20%;}
#welcome_login {
font-size: 1.15em;
}

/*HEADER*/

#cover_logo{
width:24%;
}
.box_modules_header{width:14%;}
/*----------HOME---------*/
#logo-home {
width: 21%;}
#title_module{font-size:2.3em;}
#cover_modules_home{
background-image:url("../../images/cc_images/bg-home/bg_home_disp.jpg");
}	
.box_modules_home
{
width:31.3%;
border:3px solid rgba(254, 254, 254, .8);}
#img-module-home img{
margin:4px 0px 4px 24%;
}
/*MODLES INTERACTION BAR*/
#title_interaction_bar{font-size:1.3em;}
#cover_buttons_interaction_bar{width:40%;}
.cover_more_options_look{padding-bottom:7px;}
.li_look_interaction_bar {width:70%;}
.li_look_interaction_bar input{
width:85%;padding-left:15%;
background-size:17px 17px;
background-position: left 10px top 18px;}

#ind_opt_standar_two {
    width: 295px;
}

#cover_li_cobros, #cover_li_gastos{
width:100%;}
.title_cobros_opt, .title_gastos_opt{width:auto;}

/*MODLES ID*/
.box_result_table, .box_result_table_b, .box_result_table_c, .box_result_table_d, .box_result_table_e, .box_result_table_f, .box_result_table_g,#search_filter_section label {
font-size: .54em;
}
.titles_table, .titles_table_b, .titles_table_c, .titles_table_d, .titles_table_e, .titles_table_f, .titles_table_g {
font-size: .59em;
}
#li_look_ib_four{
width:50%; margin-left:2%;
margin-right:2%;
}
#cover_opt_four{
position:relative;
float:left;
width:45%;}
#li_look_ib_two{width:60%;
margin-left:10%;}
#li_look_ib_three{
width:59%; margin-left:2%;
margin-right:2%;
}
#cover_opt_three{position:relative;
float:left;
width:36%;}
#li_look_ib_one{
margin-left: 0%;
width: 55%;
}
#li_look_ib_one input{
width:85%;padding-left:15%;}
.li_txt_cobros_interaction_bar  , .li_txt_gastos_interaction_bar{float:left;
margin-left:10%;
margin-right:0%;
width:76%;
margin-top:15px;
}
/*OPT*/

#li_select_lang_item_kits_interaction_bar select,
#li_select_lang_item_interaction_bar select,
#li_select_standar_one_interaction_bar select,
#li_select_standar_two_interaction_bar select{
height:23px;
margin-top:0px;
}


/*POPUPS MODLES */
#title_ticket_reiceived_popup,.subtitle_forms_popup,.subtitle_forms_popup2,.subtitle_forms_popup3,.subtitle_forms_popup4 {

font-size: .8em;
}
#table_detail_ticket span {
font-size: .7em;
}
body .mfp-container{
width: 87%;
}
.box_field_row label{font-size:.9em;}
.box_row input, .box_row select,
.box_row  textarea
{height:33px;}
/*CONFIG*/
#title_module
{ 
font-size:2.4em;
}
/*REPORTES*/
.box_li_report li
{background-position: left 50px top 15px;}
.box_li_report li a{
width:60%;
padding:15px 10% 15px 30%;}
.box_li_report{
width:54%;
margin:20px 20% 30px 20%;}
.box_li_report span{
margin-left:0px;
width:100%;}
#cover_reports_selected, #cover_reports_selected_tables{width:90%;
padding-left:5%;
padding-right:5%;}
#cover_ss_aside_date, #cover_ss_aside_tables{width:90%;
padding-left:5%;
padding-right:5%;
margin:10px 0px;
padding-top:30px;
padding-bottom:30px;}
.titles_report_contaccion{font-size:1.1em;}
#summary_sales_aside li a{font-size:1.0em;padding: 15px 10% 15px 20%;}
#summary_sales_aside li {
background-position: left 55px top 15px;}
#cover_report_section_date, #cover_report_section_tables{width:90%;
padding-left:5%;
padding-right:5%;
margin:10px 0px;}
/*----tablas reportes------*/	
.box_sb{width:80%;}
.box_rsb{width:20%;}
/*REGISTER PEDIDOS VENTAS ENTRADAS*/

#sale_basic_register {
    left: 0%;
    width: 100%;
}

#total {
width: 100%;
border:0px;
}
#change, #restante {
width: 100%;
text-align: right;
height: 57px;
top: -13px;

}
.span_text_payment {

font-size: 2.2em;
}
#amount_change, #by_payment, #by_pay_total, .by_pay_total {
font-size: 3em;
}
#cover_complete_pay #comment_display {

font-size: 1em;
}
.label_field_sale, .box_final_procces_pay div {
font-size: .7em;
}
#cover_complete_pay select,#box_payment_procces input,#cover_register_middle input{

font-size: .6em;
}

#cover_full_complete_register{
width: 70%;

}
.box_first_register {

font-size: 0.9em;
}
#btn_cancel_register,#btn_pause_register_sale
{

width:100%;}

#btn_pause_register_sale {

margin-bottom: 15px;
}
#cover_complete_pay{
width:23%;
}
/*tabla resp psr*/
.soloVisibleResponsivamente_psr{position:relative;
float:left;
display:block;
color:#4a4b4c;
font-weight:600;
width:30%;
height:auto;
padding:10px 0px;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.cover_titles_register_psr{display:none;}
.cover_result_register_psr{border-top:1px solid #c9c9c9;
}
.filas_items_reg,
.filas_items_reg_rec,
#producto_sel, #cantidad_sel{width:100%;
border-bottom:1px solid #c9c9c9;padding:0px;
}
#item_subtotal_span, .filas_items_reg span, .filas_items_reg_rec span{position:relative;
float:right;
width:69%;
margin-right:0%;
padding:10px 0px;
border-left:1px solid #c9c9c9;
margin-top:0px;}
#item_price_span, #item_discount_span,
#item_delete_span{margin-top:0px;}
#sale_basic_register_pedido {
margin-left: -20%;
width: 140%;}
#bfr_custom_pedido{width:96%;
margin-left:2%;}
/*TABLAS REPORTES*/
#table_detail_report{width:90%;
margin:30px 5%;}
.soloVisibleResponsivamente_rep{position:relative;
float:left;
display:block;
color:#4a4b4c;
font-weight:600;
width:25%;
height:auto;
padding:0px 5% 0px 5%;
-moz-box-sizing: border-box;
box-sizing: border-box;}
.soloVisibleResponsivamente_rep_items{position:relative;
float:left;
display:block;
width:25%;
height:auto;
padding:0px 5% 0px 5%;
-moz-box-sizing: border-box;
box-sizing: border-box;}
#table_detail_report .soloVisibleResponsivamente_rep_items span{color:#0F6FA5;
font-weight:700;font-style:italic;}
.cover_title_detail_reportes, .cover_title_detail_reportes_items{display:none;}
.file_det_rep_items,
.file_det_rep{
border-bottom:2px dashed #c9c9c9;}
.detail_rep,
.detail_rep_six, 
.detail_rep_four, 
.detail_rep_ten, 
.detail_rep_eleven{
width:100%;
border-bottom:1px solid #f2f2f2;
padding:15px 0px;
}
#table_detail_report span{text-align:left;}
}
@media only screen  and (max-width :736px ){
#welcome_login {
font-size: 1.1em;
}
.buttons_interaction_bar {
width: 50%;
font-size: 1.0em;
}
#title_interaction_bar {
font-size: 1.2em;
}
}
@media only screen  and (max-width :640px) {
/*LOGIN*/
#cover_login{
width:80%;
}

	
#logo_login{
width:50%;
margin-left:25%;
margin-top:10px;
}
#box_welcome_login{
margin-bottom:15px;}

#container_login{
width:80%;
padding:35px 10% 35px 10% ;
}
/*HEADER*/
#ico_menu{
margin-top:40px;}
#cover_logo{
width:33%;
}
#logo-menu{margin-top:35px;}
.box_modules_header{width:17.5%;}
body  #accordion_user .accordion-body{
margin-left:-230%;}
/*----------HOME---------*/
#logo-home {
width: 24%;}
#cover_modules_home{
background-image:url("../../images/cc_images/bg-home/bg_home_disp2.jpg");
}
.box_modules_home
{
width: 47.3%;
height: 221px;
}
#descrip_module_home {
font-size: .7em;
font-style:italic;
}
#img-module-home img{
margin:-5px 0px -5px 24%;
}
/*MODLES INTERACTION BAR*/
.li_look_interaction_bar input{height:40px;
background-position: left 10px top 13px;
}
.li_inte_bar{width:40px;height:40px;}
.li_inte_bar a{width:30px;height:30px;
background-position: left 6px top 5px;}
#ind_opt_standar_two {
    width: 215px;
}

/*MODLES ID*/
#li_look_ib_one {
width: 65%;
}
.buttons_interaction_bar {
width: 46%;
font-size: 0.9em;
}
#title_interaction_bar {
font-size: 1.0em;
}
#li_look_ib_four{
width:80%;
margin-left:10%;}
#li_look_ib_four input{width:85%;padding-left:15%;}
#cover_opt_four{
width:55%;
float:right;
margin-top:15px;
margin-right:18%;
}
#li_look_ib_three{
width:57%;
}
#cover_opt_three{
width:37%;}
#li_look_ib_two{margin-left:5%;width:70%;}
#li_look_ib_two input{height:40px;
width:85%;padding-left:15%;background-position: left 10px top 12px;}
#li_barcode_interaction_bar {
width:100px;
height:38px;
border:1px solid #818181;
background-position: left 5px top 4px;
background-image:url("../../images/cc_images/icon_cct/icono-barcode-resp.png");}
#li_barcode_interaction_bar:hover{background-image:url("../../images/cc_images/icon_cct/icono-barcode-resp-bco.png");background-color:#025476;
border-color:#025476;
}
/*OPT*/

#btn_new_customer_servicios,
#btn_new_customer_cobros 
{position:relative;
float:left;
width:29%;}
/*TABLES*/
.cover_titles_table, .cover_titles_reg_pedidos{display:none;}
.files_result_table{border-top:0px solid #c9c9c9;
}
.soloVisibleResponsivamente{position:relative;
float:left;
display:block;
color:#4a4b4c;
font-weight:bold;
width:30%;
border-right:1px solid #c9c9c9;
height:45px;
margin-top:-5px;
padding:0px 0px;
-moz-box-sizing: border-box;
box-sizing: border-box;
background-color:#f9f9f9;
}
body .icon_more{position:absolute;
right:6px;
top:14px;
width:15px;
height:15px;
display:block;
font-size:1.5em;
margin:0px;
background-image:url("../../images/cc_images/icon_cct/icon_more.png");
background-repeat: no-repeat;
background-position: left 1px top 0px;
border:1px solid #c9c9c9;
}
/*#seleccionar,#seleccionar_t,#company,#company_t,#fiscal,#fiscal_t,#email,#email_t,#id,#id_t,#edition,#edition_t
{
display:none;
}*/
.box_result_table, .box_result_table_b,
.box_result_table_c,
.box_result_table_d,
.box_result_table_e,.box_result_table_f, .box_result_table_g{width:100%;text-align:center; font-size:.8em;}
#cover_select_item_proccess{
border:3px solid #c9c9c9;}
/*DETAILS POPUP*/
.drop{font-size:1.5em;}
#cover_resultados_tabla a, #table_holder a ,#opc-mail a ,#opc-mail2 a, #opc-edit a , #opc-edit2 a, #opc-edit3 a, #opc-edit4 a, #opc-edit5 a{
font-size:1.1em;
padding:4px;
margin-right:3px;
top:5px;
position:relative;
}

#detail_image_item 
{
width:70%;
}


/*POPUPS MODLES */
body .mfp-container{
width:80%;}
/*CONFIG*/
#title_module
{ 
font-size:2.0em;
}
#cover_field_row_config_left, #cover_field_row_config_rigth{
width:90%;
}
#cover_field_row_config_left{
border-right:0px solid #c9c9c9;
}
/*REGISTER PEDIDOS VENTAS ENTRADAS*/
#name_cajero{font-size:.8em; text-align:center;
color:#ccc;}

#cover_full_complete_register{padding-left:10%;
padding-right:10%;width:80%;}
#cover_complete_pay{width:70%;
margin-left:10%;
margin-right:10%;
padding-left:5%;
padding-right:5%;}
#cover_table_register_psr a{top:0px;
font-size:.9em;}
#cover_register_middle input{padding-left:14%;width:86%;}
#sale_basic_register_pedido {
margin-left: 0%;
width: 100%;}
/*REPORTES*/
.box_li_report{
margin:20px 20% 20px 20%;}
.box_img_report{
width:65px;
height:75px;
background-size: 60px 70px;}
#summary_sales_aside li {
background-position: left 40px top 15px;}
#cover_reports_selected .box_select_reports select{width:98%;}
body .rango_sel{width:20%;
margin-top:10px;
}
.box_six_select_reports select {
width:23%;
margin-top:10px;
}
/*----tablas reportes------*/	
.box_sb{width:75%;}
.box_rsb{width:25%;}
.soloVisibleResponsivamente_rep{
width:30%;
padding:0px 3% 0px 10%;}
.soloVisibleResponsivamente_rep_items{
width:30%;
padding:0px 3% 0px 10%;
}
}
@media only screen  and (max-width :480px){
/*LOGIN*/
/*LOGIN*/
#box_submit_login input {
font-size: 1.4em;
}
#welcome_login {
font-size: 1.0em;
}

#logo_login{
width:50%;
margin-left:25%;
}
.box_login_input input{
height:30px;}
#box_submit_login input{height:70px;}
.descrip_module_home {
font-size: 0.6em;
}
.modules_name {
font-size: 1.2em;
}
#title_module, #title_module_home {
font-size: 2.8em;
}
/*HEADER*/
#menu_date{font-size:.6em;width:30%;}
#box_config_header{width:60%}
#box_config_header img{width:27px;
height:auto;}
#box_notifi_number{font-size:.64em;}
#ico_menu{
height:30px;
margin-top:42px;
margin-left:13%;
background-size: 23px 23px;
}
#cover_logo{
width:40%;
}
#logo-menu{
margin-top:30px;}
#list_user{
width:70%;}
#list_notification{
width:60%;}
.triangle_notif{margin-right:45%;}
body  #accordion_user .accordion-body{
margin-left:-240%;}
#box_name_user span{font-size:.6em;}
.box_modules_header{width:23%;}
.box_modules_header img{
width:70%;
margin-left:13%;}
.name_menu_modules_header{font-size:.9em;}
/*----------HOME---------*/
#logo-home {
width:40%;
margin-left:30%;
margin-top:50px;}
#cover_title_module{margin-top:40px;}
#subtitle_module{font-size:1.2em;margin-bottom:20px;}
#subcover_modules_home{
width:80%;
margin-left:10%;
}
.box_modules_home
{
width:46%;margin-left:2%;
margin-right:2%;height:175px;
margin-top:15px;}
/*MODLES INTERACTION BAR*/
#interaction_bar_top{padding:8px 1%;}
#list_interaction_bar{width:90%;
padding:0% 5% 0% 5%;
}
.li_look_interaction_bar {width:100%; margin-left:0%;
margin-right:0%; margin-bottom:10px;}
.li_look_interaction_bar input {width:89%;padding-left:10%;
border-width:1px;}
#title_interaction_bar{font-size:1.1em;margin-left:4%;}
#cover_buttons_interaction_bar{width:50%; margin-right:2%;}
.buttons_interaction_bar{font-size:.9em;}
#li_look_customer_servicios_interaction_bar{margin-top:10px;}
#ind_opt_standar_two {
    width: 400px;
}


#li_select_lang_item_interaction_bar select,
#li_select_lang_item_kits_interaction_bar select,
#li_select_standar_one_interaction_bar select,
#li_select_standar_two_interaction_bar select{margin-top:3px;}

/*MODLES ID*/
#info_detail iframe {
height: 270px;
}
#li_look_ib_four{
width:100%;
margin-left:0%;}
#cover_opt_four{
width:260px;
margin-right:13%;
margin-top:5px;
}
#li_look_ib_three{
width:100%;
margin-left:0px;
margin-right:0px;
}
#cover_opt_three{
float: right;
width: 210px;
margin-right:20%;
margin-top: 5px;}
#li_look_ib_one{margin-left:0%; width:87%;}
#cover_opt_one{
float:right;
margin-right:2px;
width:45px;
margin-top:2px;
}
#li_look_ib_two{width:100%; margin-left:0%;
margin-right:0%; margin-bottom:10px;}
#li_look_ib_two input{width:89%;padding-left:10%;
border-width:1px;}
#cover_opt_two{
float:right;
margin-right:2px;
width:95px;
margin-top:2px;}
.li_txt_cobros_interaction_bar  , .li_txt_gastos_interaction_bar{
margin-left:0%;
margin-right:0%;
width:95%;
}
/*OPT*/
#btn_new_customer_servicios,
#btn_new_customer_cobros 
{position:absolute;
top:-30px;
right:0px;
width:49%;}
/*TABLES*/
.cover_more_options_look{margin-bottom:15px;}
.warning_message,  #msj_manages span{font-size:.8em;}
/*---DETALLES POP UP-----*/

/*forms*/
.drop{font-size:1.3em;}
.box_row input{font-size:.7em;}
#box_info_title
{
position:relative;
float:right;
width:100%;
margin-right:0px;
text-align:center;

}
#info_img_detail
{
position:relative;
float:none;
width:60%;
margin:auto;


}

body .submit_button_report{width:25%;}


.submit_button_report,.submit_button_pop , .submit_button_pop_2, .submit_export_button,.submit_import_button,.submit_button_inventory, .print_button,.submit_content_button,.submit_cat_button
{
height:60px;
font-size:1.1em;
}



/*details tables*/

.xtra_info {
width: 100%;
background-color: rgb(230, 230, 230);
}
#drop{font-size:1.2em;}

.soloVisibleResponsivamente_ticket{position:relative;
float:left;
display:block;
height:100%;
color:#4a4b4c;
font-weight:600;
width:30%;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding:8px 0%;
}

.content_tablet_ticket{
position:relative;
float:left;
width:70%;
padding:8px 5px;
height:100%;
border-left:1px solid #c9c9c9;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
#cover_detail_ticket .detail_ticket{width:100%;
 border-width:0px 0px 1px 0px;
 border-color:#c9c9c9;
 border-style:solid;
 padding:0px;
}
.file_detail_ticket{padding:0px;border:0px;}
.subcover_tdit{width:80%;
}
#table_detail_item span{
text-align:left;}

/*tables details item item*/
/*-------------------------------*/
#cover_title_detail_item{
display:none;}
#cover_result_detail_item{width:100%; border:0px;}
.file_det_item{border-top:1px solid #c9c9c9;}
.title_detail_item, #inventoryRazon, #result_razon, #inventoryCantidad, #result_cantidad, #inventoryFecha, #result_fecha, #inventoryEmpleado, #result_empleado {
width:100%;
height:auto;
padding:0px;
border-bottom:1px solid #c9c9c9;
}
/*tables detail item */
#cover_title_detail_ticket{
display:none;}


.detail_pedido{width:100%;
padding:0px;height:auto;border-bottom:1px solid #c9c9c9;}

/*info details*/
#box_info_title label{margin:15px 0px 10px 0px;}
#info_detail{width:100%;}

#box_inv_quantity label{width:60%;
margin-left:18%;}

.cover_detail_ticket {

width:100%;
}


/*OPT*/


/*REGISTER PEDIDOS VENTAS ENTRADAS*/

#cover_full_complete_register{padding-left:5%;
padding-right:5%;width:90%;}
#cover_complete_pay{width:80%;
margin-left:5%;
margin-right:5%;
padding-left:5%;
padding-right:5%;}
#cover_table_register_psr a{top:0px;
font-size:.9em;}
.box_first_register_cajero{padding:10px 0px;}	
.label_field_sale	
{margin-top:15px;}
.cover_btn_register_top{margin-top:10px;}
/*Botones resitro*/	
.cover_btn_register_top
{width:99%;
padding-left:1%;
padding-right:1%;
}
#cover_register_opt_pedido  select{width:98%;}
.btn_register_top{
border-radius:16px;
-moz-border-radius:16px;
-webkit-border-radius:16px;}

#hrs, #min{font-size:1.0em;}

/*CONFIG*/
#title_module
{ 
font-size:1.6em;
}
/*REPORTES*/
.box_li_report {
width:74%;
margin: 20px 10% 20px 10%;
}
#cover_ss_aside_date, #cover_ss_aside_tables, 
#cover_report_section_date, #cover_report_section_tables{width:86%;
padding-left:7%;
padding-right:7%;}
#title_module_report{font-size:1.1em;}
body .rango_sel{width:15%;}
.box_six_select_reports select{width:23%;}
.cover_title_report{margin-bottom:20px;}
#subtitle_module_report{width:60%;
margin-left: 20%;}
/*----tablas reportes------*/	
.box_sb{width:70%;}
.box_rsb{width:30%;}
#table_detail_report{width:100%;
margin:30px 0%;}
.soloVisibleResponsivamente_rep{
width:32%;
padding:0px 3% 0px 6%;}
.soloVisibleResponsivamente_rep_items{
width:32%;
padding:0px 3% 0px 6%;
}
}
@media only screen  and (max-width :414px ) /* 414px iphone 6 plus, 375px iphone 6 ,360px reg phone */{
#box_submit_login input {
font-size: 1.3em;
}
#logo_login{
width:70%;
margin-left:15%;
}
#box_welcome_login{
margin-bottom:20px;}
/*HEADER*/
#menu_date{display:none;}
#box_config_header{width:90%}
body  #accordion_notification .accordion-body {margin-left:-340%;}
#accordion_notification #list_notification li a{font-size:.7em;}
#ico_menu{
margin-top:40px;margin-left:10%;
background-size: 18px 18px;
}
#cover_logo{
width:50%;
}
#logo-menu{margin-top:28px;}
#cover_navigation_modules_header{margin-top:15px;margin-bottom:30px;}
.box_modules_header{width:31%;	margin-bottom:15px;}
.box_modules_header img{
width:60%;
margin-left:17%;}
.name_menu_modules_header{font-size:.8em;}
/*----------HOME---------*/
#title_module, #title_module_home {
font-size: 2.5em;
}
.descrip_module_home {
font-size: 0.8em;
}
.modules_name {
font-size: 1.4em;
}
#logo-home {
width:50%;
margin-left:25%;
margin-top:50px;}
#cover_modules_home{background-image:url("../../images/cc_images/bg-home/bg_home_disp3.jpg");}
.box_modules_home
{
width:70%;margin-left:15%;
margin-right:15%;height:auto;
margin-top:17px;
padding:10px 20px;}
/*MODLES INTERACTION BAR*/
#list_interaction_bar{width:90%;
padding:0% 5% 0% 5%;}
.li_look_interaction_bar input , #li_look_ib_two input{
width:84%;padding-left:15%;}
#title_interaction_bar{font-size:1.2em;width:100%;
margin:0px;text-align:center;padding-bottom:10px;
border-bottom:1px solid #c9c9c9;}
#cover_buttons_interaction_bar{
width:96%;margin-left:2%; margin-right:2%; margin-top:10px;margin-bottom:3px;}
.buttons_interaction_bar{
width:80%;
margin-right:10%;
font-size:1.1em;}
#search_filter_section label{}
/*MODLES ID*/
#cover_opt_four{
width:260px;
margin-right:0%;
}
#li_look_ib_one{
width:85%;
}
#cover_opt_one{
float:right;
margin-right:2px;
width:45px;
}
#cover_opt_three{
width: 200px;
margin-right:12%;}
/*OPT*/

#btn_new_customer_servicios,
#btn_new_customer_cobros {width:80%;
margin-right:10%;
height:40px;
font-size:.9em;
margin-top:5px;
float:right;
position:relative;
top:0px;
}
#btn_new_customer_servicios span,
#btn_new_customer_cobros span{
padding-top:10px;
}

#ind_opt_standar_two_one{
width: 30%;
}
#ind_opt_item_kits{
width:30%;
}

#ind_opt_standar_two {
    width: 350px;
}
/*TABLE*/
.ind_opt{margin:3px 0px;}
.line-medium{
margin-left:7px;
margin-right:7px;
}
.box_result_table, .box_result_table_b,
.box_result_table_c,
.box_result_table_d,
.box_result_table_e,.box_result_table_f, .box_result_table_g{ font-size:.75em;}
.warning_message,  #msj_manages span{font-size:.8em;}




/*POPUPS MODLES */
body .mfp-container{
width:86%; }
/*	DETALLES POP UP*/
#info_detail iframe {
height: 285px;
}

#box_info_title label{
font-size:1.0em;
}
#box_inv_quantity label{padding:0px;border:0px;}
#look_input_pop input, #search_customer, /*Look de entradas*/
#sale_basic_register #search_suppliers{padding-left:16%;
width:84%;}
/*Detail_tables_pop*/
 #table_add_kit span{font-size:.75em;}
/*REGISTER PEDIDOS VENTAS ENTRADAS*/
#cover_full_complete_register{padding-left:0%;
padding-right:0%;width:100%;}
#cover_full_complete_register #cover_select_item_proccess, #cover_select_item_proccess{border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border:1px solid #c9c9c9;
margin-top:0px;}	
#cover_complete_pay{width:90%;
margin-left:0%;
margin-right:0%;}
.btn_register_top{
width:100%;
border-radius:16px;
-moz-border-radius:16px;
-webkit-border-radius:16px;
margin-bottom:7px;}
.box_first_register	{width:90%;
margin-left:5%;}
#cover_register_middle input{padding-left:17%;width:83%;}
.filas_items_reg, .filas_items_reg_rec{font-size:.75em;}
/*REPORT*/
.box_li_report li a {
width:75%;
padding: 15px 5% 15px 20%;}
.box_li_report li {
background-position: left 20px top 15px}
.box_li_report span{
width:80%;
padding: 0px 10%;
font-size:1.2em;}
#Print_br_Responsivo{display:none;}
#summary_sales_aside li {
background-position: left 20px top 16px;
}
#summary_sales_aside li a{font-size:.9em;}
body .rango_sel{width:40%;
margin-left:30%;
padding: 7px 0px;
border: 2px solid #706fa5;
color:#706fa5;
border-radius:30px;
-moz-border-radius:30px;
-webkit-border-radius:30px;
background-color:transparent;}
.box_six_select_reports select{width:31%;}
.titles_report_contaccion, #title_module_report{
font-size:1.0em;
}
#subtitle_module_report{width:80%;
margin-left:10%;}
/*----tablas reportes------*/	
.box_sb{width:60%;}
.box_rsb{width:40%;}
}
@media only screen  and (max-width :360px ){
/*popup details*/	
/*forms*/
.drop{font-size:1.1em;}
#detail_image_item 
{
width:80%;
}

.subcover_tdit{width:90%;
padding:0px 5%;
}


.subtitle_tdit, .num_tdit{

width:100%;
padding:0px;
border:0px;
margin-bottom:5px;}


#txt_total_num{border-right: 1px solid #9e9e9e;}
/*interaction bar*/
#ind_opt_standar_two {
    width: 220px;
}
	
#info_detail iframe {
height: 220px;
}
.box_login_label label {
font-size: 1.0em;
}
#welcome_login {
font-size: 0.9em;
}
#li_look_ib_one input {
font-size: 0.7em;
}
#li_look_ib_one {
width: 82%;
}
.box_login_input input {
font-size: 1.3em;
}
/*report*/
body .submit_button_report{width:35%;}


}
@media only screen  and (max-width :320px) {
#welcome_login {
font-size: 0.8em;
}
#box_submit_login input {
font-size: 1.5em;
}
/*HEADER*/
#cover_logo{
width:57%;
}
#list_notification
{width:50%;}
.triangle_notif_b{margin-right:70%;}
body  #accordion_notification .accordion-body {margin-left:-200%;}
/*----------HOME---------*/
#title_module, #title_module_home {
font-size: 2.1em;
}
.box_modules_home {
width: 92%;
margin-left: 4%;
}
#logo-home {
width:60%;
margin-left:20%;
margin-top:50px;}
#cover_title_module {
margin-top:35px;
}
/*interaction bar*/
#ind_opt_standar_two {
    width: 270px;
}
/*TABLES POP*/
.submit_button_report,.submit_button_pop , .submit_button_pop_2, .submit_export_button,.submit_import_button,.submit_button_inventory, .print_button,.submit_content_button,.submit_cat_button
{
height:50px;
font-size:1em;
}
#info_img_detail{width:50%;}

/*MODLES ID*/
.box_result_table, .box_result_table_b, .box_result_table_c, .box_result_table_d, .box_result_table_e, .box_result_table_f, .box_result_table_g {
font-size: .7em;
}
.buttons_interaction_bar {
width: 77%;
margin-right: 11%;
}
#li_look_ib_one input {
font-size: 0.6em;
padding-left: 18%;
}
#li_look_ib_one {
width: 80%;
}
#cover_opt_four{
width:240px;
margin-right:4px;
}
#cover_opt_three{
width: 200px;
margin-right:8%;}
/*OPT*/

#box_inv_quantity label{width:100%;
margin:0px;}
/*REPORT*/
.box_li_report {
width:84%;
margin: 20px 5% 0px 5%;
}
.box_li_report li a {
width:70%;
padding: 15px 5% 15px 25%;}
.box_li_report span{
font-size:1.1em;}
.box_img_report{margin:10px auto;}
}
@media only screen  and (max-width :240px) {
#info_detail iframe {
height: 187px;
}
#box_info_title label {
font-size: 0.8em;
}
.box_field_row_info label, .box_field_row_info_small label {
font-size: .6em;
}
.box_result_table, .box_result_table_b, .box_result_table_c, .box_result_table_d, .box_result_table_e, .box_result_table_f, .box_result_table_g {
font-size: .6em;
}
.box_login_input input {
font-size: 1.1em;
}
.box_login_label label {
font-size: 1.0em;
}
#box_submit_login input {
font-size: 1.3em;
}
/*HEADER*/
#box_notification{display:none;}
/*MODLES ID*/
#li_look_ib_one input {
font-size: 0.48em;
padding-left: 18.3%;
background-size: 9%;
background-position: 9px 14px;
}
#title_interaction_bar {
font-size: 1.0em;
}
.buttons_interaction_bar {
width: 69%;
margin-right: 16%;
font-size: 1.0em;
}
#li_look_ib_one {
width: 74%;
}
#cover_opt_four{
width:140px;
margin-right:20px;
}
#cover_opt_three{
width:170px;
margin-right:0%;}
#cover_opt_three #li_barcode_interaction_bar{
width:70px;
background-position: left 5px top 5px;	
background-size:60px 27px;
margin-top:0px;
}
#li_barcode_interaction_bar{margin-top:10px;
width:120px;
background-position: left 15px top 5px;}
/*OPT*/
#btn_new_customer_servicios,
#btn_new_customer_cobros {width:91%;
margin-right:7%;
}
#title_module, #title_module_home {
font-size: 1.7em;
}
#subtitle_module {
font-size: 1.0em;
}
.box_modules_home {
width: 100%;
margin-left: 0%;
}
.descrip_module_home {
font-size: 0.7em;
}
}